main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
    font-family: system-ui;
}

main img{
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}

main button{
    padding: 10px 20px;
    margin: 20px 0;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
}